
html, body {
    height: 100%;
}

.ember-view {
    background-color: #ffffff;
    height: 100%;
}

table#layout {
    width: 100%;
    height: 100%;
}

/* Map canvas */
.container,
.container .row,
#mapcanvas {
    height: 100%;
}
#mapcanvas {
    background: transparent url('../img/maptile.png') repeat right top;
    font-family: monospace;
    color: #00ff00;
}

#mapcanvas div#address {
    bottom: 10px;
    background-color: #000000;
    border-radius: 7px;
    padding: 4px 2px 8px 2px;
}

/* */
.data-list td {
    border: 1px solid #afafaf;
    border-width: 0px 0px 3px 0px;
    padding: 2px 8px 2px 8px;
}

.data-list tr > td:first-child {
    border: 1px solid #afafaf;
    border-width: 0px 1px 0px 0px;
    text-align: right;
}

/* Context menu */
#contextmenu {
    position: absolute;
    width: 250px;
    height: 100%;
    z-index: 9000;
    background-color: #ffd8f9;
}

#contextmenu ul {
    padding-top: 58px;
}

#contextmenu li {
    border: 1px solid #afafaf;
    border-width: 0px 0px 1px 0px;
}

#contextmenu .nav-pills > li > a {
    border-radius: 0px;
}

#contextmenu ul li a {
    background-color: #abffc0;
    color: #242424;
}

#contextmenu ul li a.active {
    background-color: #000000;
    color: #00ff00;
}

/* Table layout */
#actionbar {
    height: 50px;
    background-color: #000000;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    z-index: 8000;
}

#actionbar #contextmenu-button {
    border: 1px solid #a0a0a0;
    border-width: 0px 1px 0px 0px;
}

#actionbar #contextmenu-button > span {
    padding: 2px 4px 4px 0px;
    font-size: 35px;
}

#actionbar select#driverstatus {
    width: 200px;
}

/*EOF*/
