
.ember-view {
    background-color: #ffffff;
}

html,
body,
.ember-fulls-view,
#container-fulls,
#actionbar,
#content {
    width: 100%;
    margin: 0;
}

html,
body,
.ember-fulls-view,
#container-fulls,
#content {
    height: 100%;
}

/* Map canvas */
#map-canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: gray;
}

/*TODO: custom map control */
#mapcanvas div#address {
    bottom: 10px;
    background-color: #000000;
    border-radius: 7px;
    padding: 4px 2px 8px 2px;
}

/* components/data-row */

div.data-row {
    padding: 30px 0px;
    margin-left: 10%;
    margin-right: 10%;
}

div.title, div.data {
    float: left;
    padding: 4px 8px;
}

div.title {
    width: 40%;
}

div.data {
    width: 60%;
    border: 1px solid #afafaf;
    border-width: 0px 1px 3px 1px;
    text-align: center;
}

/* Context menu */
#contextmenu {
    position: absolute;
    width: 60%;
    height: 100%;
    z-index: 9000;
    background-color: #3A5239;
}

#contextmenu ul {
    padding-top: 58px;
}

#contextmenu li {
    margin: 0px;
    border: 1px solid #7BFA9B;
    border-top-color: #D5FFD3;
    border-width: 3px 0px 2px 0px;
}

#contextmenu .nav-pills > li > a {
    padding-left: 24px;
    border-radius: 0px;
}

#contextmenu ul li a {
    background-color: #abffc0;
    color: #242424;
}

#contextmenu ul li a.active {
    background-color: #D0F9FF;
    color: #242424;
}

/* Action bar */
#actionbar {
    height: 128px;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    z-index: 8000;
}

#actionbar #button-wrapper {
    border: 1px solid #a0a0a0;
    border-width: 0px 1px 0px 0px;
    height: 100%;
}

#actionbar select#driverstatus {
    margin-top: 10px;
    width: 62%;
}

#actionbar {
    height: 10%;
}
#content {
    height: 90%;
}

/* Low density (120), 1dpi */
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
    .rtext {
        font-size: 75%;
    }
}

/* Medium density (160), mdpi */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
    .rtext {
        font-size: 100%;
    }
}

/* High density (240), hdpi */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .rtext {
        font-size: 150%;
    }
}

/* Extra high density (320), xhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .rtext {
        font-size: 250%;
    }
}

/* Action bar height */

@media screen and (max-height: 640px) {
    body {
        font-size: 14px;
    }
    #button-wrapper {
        font-size: 28px;
    }
}

@media screen and (min-height: 641px) {
    body {
        font-size: 21px;
    }
    #button-wrapper {
        font-size: 42px;
    }
}

/*EOF*/
